<template>
    <div class="row">
        <div class="col-md-4">
            <form class="form" onSubmit="return false;">
                <div class="form-group">
                    <label class="control-label" for="name">
                        Name
                        <span v-if="filters.name" v-on:click="filters.name = null;" class="remove-filter">&times;</span>
                    </label>
                    <input class="form-control" id="name" type="text" placeholder="Name" aria-label="Name"
                           v-model="filters.name"/>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label" for="priceFrom">
                            Price from {{ filters.priceFrom }}
                            <span v-if="filters.priceFrom" v-on:click="filters.priceFrom = null;" class="remove-filter">&times;</span>
                        </label>
                        <input class="custom-range" id="priceFrom" type="range" min="0" max="10" step="1"
                               placeholder="Price from" aria-label="Price from"
                               v-model="filters.priceFrom" v-on:change="checkPricesInput"
                               v-bind:min="ranges.price.min" v-bind:max="ranges.price.max"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label" for="priceTo">
                            Price to {{ filters.priceTo }}
                            <span v-if="filters.priceTo" v-on:click="filters.priceTo = null;" class="remove-filter">&times;</span>
                        </label>
                        <input class="custom-range" id="priceTo" type="range" min="0" max="10" step="1"
                               placeholder="Price to" aria-label="Price to"
                               v-model="filters.priceTo"
                               v-bind:min="filters.priceFrom" v-bind:max="ranges.price.max"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label" for="bedrooms">
                            Bedrooms {{ filters.bedrooms }}
                            <span v-if="filters.bedrooms" v-on:click="filters.bedrooms = null;" class="remove-filter">&times;</span>
                        </label>
                        <input class="custom-range" id="bedrooms" type="range" min="0" max="10" step="1"
                               placeholder="Bedrooms" aria-label="Bedrooms"
                               v-model="filters.bedrooms"
                               v-bind:min="ranges.bedrooms.min" v-bind:max="ranges.bedrooms.max"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label" for="bathrooms">
                            Bathrooms {{ filters.bathrooms }}
                            <span v-if="filters.bathrooms" v-on:click="filters.bathrooms = null;" class="remove-filter">&times;</span>
                        </label>
                        <input class="custom-range" id="bathrooms" type="range" min="0" max="10" step="1"
                               placeholder="Bathrooms" aria-label="Bathrooms"
                               v-model="filters.bathrooms"
                               v-bind:min="ranges.bathrooms.min" v-bind:max="ranges.bathrooms.max"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label" for="storeys">
                            Storeys {{ filters.storeys }}
                            <span v-if="filters.storeys" v-on:click="filters.storeys = null;" class="remove-filter">&times;</span>
                        </label>
                        <input class="custom-range" id="storeys" type="range" min="0" max="10" step="1"
                               placeholder="Storeys" aria-label="Storeys"
                               v-model="filters.storeys"
                               v-bind:min="ranges.storeys.min" v-bind:max="ranges.storeys.max"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label" for="garages">
                            Garages {{ filters.garages }}
                            <span v-if="filters.garages" v-on:click="filters.garages = null;" class="remove-filter">&times;</span>
                        </label>
                        <input class="custom-range" id="garages" type="range" min="0" max="10" step="1"
                               placeholder="Garages" aria-label="Garages"
                               v-model="filters.garages"
                               v-bind:min="ranges.garages.min" v-bind:max="ranges.garages.max"/>
                    </div>
                </div>
                <button v-on:click="search" class="btn btn-outline-info my-2 my-sm-0">Search</button>
            </form>
        </div>
        <div class="col-md-8 justify-content-center">
            <div class="row">
                <div v-for="result in results" class="col-sm-4 house-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">{{ result.name }}</h4>
                            <p class="card-text">Price: {{ result.price }}</p>
                            <p class="card-text">Bedrooms: {{ result.bedrooms }}</p>
                            <p class="card-text">Bathrooms: {{ result.bathrooms }}</p>
                            <p class="card-text">Storeys: {{ result.storeys }}</p>
                            <p class="card-text">Garages: {{ result.garages }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="noResults">
                <h1>Sorry, but no results were found</h1>
            </div>

            <div v-if="searching">
                <div class="loading-dots">
                    <h1>Loading</h1>
                    <h1 class="dot one">.</h1>
                    <h1 class="dot two">.</h1>
                    <h1 class="dot three">.</h1>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.getSearchRanges();
        },

        data() {
            return {
                name: '',
                filters: {
                    name: null,
                    priceFrom: null,
                    priceTo: null,
                    bedrooms: null,
                    bathrooms: null,
                    storeys: null,
                    garages: null
                },
                ranges: {
                    price: {min: 0, max: 0},
                    bedrooms: {min: 0, max: 0},
                    bathrooms: {min: 0, max: 0},
                    storeys: {min: 0, max: 0},
                    garages: {min: 0, max: 0}
                },
                results: [],
                noResults: false,
                searching: false
            }
        },

        methods: {
            search: function () {
                this.results = [];
                this.searching = true;
                fetch('api/search', {
                    method: 'post',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(this.filters)
                })
                    .then(res => res.json())
                    .then(res => {
                        this.searching = false;
                        this.results = res.results;
                        this.noResults = this.results.length === 0;
                    });
            },
            getSearchRanges: function () {
                fetch('api/get_search_ranges')
                    .then(res => res.json())
                    .then(res => {
                        this.ranges = res.ranges;
                    });
            },
            checkPricesInput: function () {
                if (this.filters.priceTo !== null && this.filters.priceFrom >= this.filters.priceTo) {
                    this.filters.priceTo = this.filters.priceFrom;
                }
            }
        }
    }
</script>

<style lang="scss">
    .house-card {
        margin-bottom: 20px;
    }

    .remove-filter {
        color: red;
        cursor: pointer;
    }

    .loading-dots {
        text-align: center;
        z-index: 5;

        .dot {
            display: inline;
            margin-left: 0.2em;
            margin-right: 0.2em;
            position: relative;
            top: -1em;
            font-size: 3.5em;
            opacity: 0;
            animation: showHideDot 2.5s ease-in-out infinite;

            &.one {
                animation-delay: 0.2s;
            }

            &.two {
                animation-delay: 0.4s;
            }

            &.three {
                animation-delay: 0.6s;
            }
        }
    }

    @keyframes showHideDot {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        60% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
</style>
